#flyoutSignUp {
  position: fixed;
  width: 30vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
  top:0;
  right: 0;
  transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1);
  overflow: scroll;
  z-index: 1000;
  font-family: Raleway;
  padding: 0 5px 0 5px;
}

#flyoutSignUp.hide {
  transform: translate3d(30vw, 0, 0);
}

#flyoutSignUp.show {
  transform: translate3d(0vw, 0, 0);
  overflow: hidden;
}

#signup-submit-button {
  margin-top: 10px;
}

@media only screen and (max-width: 768px) {
  #flyoutSignUp {
    width: 100vw;
    height: 65vh;
    left: auto;
  }

  #flyoutSignUp.hide {
    transform: translate3d(0, -65vh, 0);
  }

  #flyoutSignUp.show {
    transform: translate3d(0, 0vh, 0);
  }
}
