#flyoutSignIn {
  position: fixed;
  width: 30vw;
  height: 100vh;
  background-color: rgba(255,255, 255, 0.9);
  top: 0;
  left: 0;
  transition: transform .3s cubic-bezier(0, 0.52, 0, 1);
  overflow: scroll;
  z-index: 1000;
  font-family: Raleway;
  padding: 10px 5px 0 5px;
}

#flyoutSignIn.hide {
  transform: translate3d(-30vw,0,0);
}

#flyoutSignIn.show {
  transform: translate3d(0vw,0,0);
  overflow: hidden;
}

.FormTitle {
  letter-spacing: 4px;
  margin-top: 5px;
}

form {
  display: inline;
  flex-direction: row;
}

.form-section label {
  margin-top: 2px;
  margin-bottom: 2px;
}
.form-section {
  margin-bottom: 8px;
}
.form-space {
  width: 100%;
}

.button-submit {
  margin-top: 2px;
  margin-bottom: 3px;
  margin-left: 2px;
  font-size: 15px;
  border: #b0b0b0 dotted 1px;
  color: rgba(40,40,40,1);
  background-color: inherit;
  border-radius: 20px;
}

@media only screen and (max-width: 768px ) {
  #flyoutSignIn {
    width: 100vw;
    height:46vh;
    right: auto;
  }
  #flyoutSignIn.hide {
    transform: translate3d(0,-46vh,0);
  }
  #flyoutSignIn.show {
    transform: translate3d(0,0vh,0);
  }

}
