.image {
  display: inline;
  position: relative;
}

#laundryroom {
  float: left;
  max-width: 70%;
  max-height: 100%;
  margin-right: 15px;
  margin-top: 5px;
  z-index: 1;
}

.title {
  color: #ffffff;
  position: absolute;
  margin-left: 10px;
  font-size: 4vw;
  z-index: 2;
}

.introduction {
  font-family: 'Montserrat', sans-serif;
}

.introduction h4 {
  text-align: left;
  margin-right: 10px;
}

.introduction p {
  font-size: 15px;
  margin: 10px;
  line-height: 25px;
  text-align: justify;
  z-index: 1;
}
