.HomePage {
  font: 15px/1.5 Raleway, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  color: #ffffff;
}

.laundromat-container {
  margin-top: -50px;
  min-height: 700px;
  background: url('laundromat.jpg') no-repeat 0 50px;
  background-size: cover;
  overflow: hidden;
}

.welcome-container {
  text-align: center;
}

.welcome-container h1 {
  margin-top: 180px;
  font-size: 12vw;
  padding: 3px;
}

.welcome-container p {
  font-size: 16px;
  padding: 10px;
  text-align: center;
  padding-bottom: 30px;
}

.welcome-text {
  background-color: rgba(145,145,145,0.6);
}

.form-button{
  margin-right: 10px;
  font-size: 15px;
  border: #ffffff dashed 1px;
  background-color: inherit;
  border-radius: 20px;
  color: #e3e3e3;
}

.form-button:hover {
  background-color: rgb(51, 102, 204, 0.4);
  color: #ffffff;
}

.emphasis {
  font-weight: bold;
  font-size: 17px;
}

@media only screen and (min-width: 768px) {
  #signin {
    font-size: 20px;
  }
}

@media only screen and (max-width: 768px ) {
  .welcome-container h1 {
    margin-top: 200px;
  }
}
