.contact-container {
  display: inline-block;
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.page-title {
  margin-left: 10px;
}

article#main-col {
  float: left;
  width: 60%;
  margin-top: 10px;
}

p.contact-info {
  margin-left: 10px;
}

.dark-side {
  padding: 15px;
  border: #355c7d 0.5px solid;
  border-radius: 25px;
  color: #355c7d;
}

aside#contact-sidebar {
  float: right;
  width: 35%;
  margin-right: 20px;
  margin-top: 15px;
}
