
.navbar {
  background: url('./nightsky.jpg') no-repeat 0 -50px;
  min-height: 50px;
}

.navbar-toggler-icon {
  padding: 4px !important;
}

.branding {
  color:#f0f0f0;
  font-family: Raleway;
  font-size: 21px;
  margin-top: 6px;
}

.nav-item {
  color: #ffffff;
  font-size: 15px;
}

#signin {
  font-size: 15px;
  background-color: inherit;
  color: #d1d1d1;
  border: #c1c1c1 solid 0.3px;
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
}

.dropdown-menu {
  background-color:black;
  color: white;
}

.dropdown-item {
  color: white;
  font-size: 15px;
}

.dropdown-item:hover {
  color: #ffffff;
  background-color: grey;
}
