
/* Global */
/* .container {
  min-width: 100%;
  margin: 0;
  overflow: hidden;
}

ul {
  margin :0;
  padding: 0;
}

.NavBar {
  color: #ffffff;
  padding-top: 10px;
  max-height: 30px;
  background: url('./nightsky.jpg') no-repeat 0 -50px;
  background-size: cover;
}

header .a:hover {
  color: #ffffff;
}
header #branding h1 {
  font-size: 20px;
  margin: 0 0 0 10px;
  float: left;
  padding-bottom: 12px;
}

header a {
  color: #f0f0f0;
  text-decoration: none;
  font-size: 15px;
}

header .current a {
  font-weight: bold;
  font-size: 16px;
}

header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header nav {
  float: right;
  margin-top: 2px;
}

.dropdown .dropbtn {
  background-color: inherit;
  color: #ffffff;
  padding: 2px;
  font-size: 15px;
  border:none;
} */

/* .dropdown {
  float: left;
  overflow: hidden;
} */

/* .dropdown-content {
  display: none;
  position: absolute;
  background-color:black;
  color: white;
  padding-top: 10px;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 8px 16px;
  text-decoration:none;
  display: block;
}

.dropdown-content a:hover {
  color: #ffffff;
  background-color: grey;
} */

.dropdown:hover .dropdown-content{
  display: block;
}

@media screen and (max-width: 500px) {
  header #branding h1 {
    font-size: 4vw;
  }
}
