.navbar {
  background: url('./nightsky.jpg') no-repeat 0 -50px;
  height: 50px;
}

.navbar-toggler-icon {
  padding: 2px !important;
}

.branding {
  color:#f0f0f0;
  font-family: impact;
  font-size: 21px;
  margin-top: 7px;
}

.nav-item {
  color: #ffffff;
  font-size: 15px;
}

.dropdown-menu {
  background-color:black;
  color: white;
}

.dropdown-item {
  color: white;
  font-size: 15px;
}

.dropdown-item:hover {
  color: #ffffff;
  background-color: grey;
}
