.machine {
  position: relative;
  display: block;
  border-radius: 10px;
  width: 200px;
  height: 100px;
  padding: 10px;
  margin: 5px;
}

.machineHeader {
  display: inline-block;
  width: 100%;
}

.machineType {
  display: inline;
  text-align: left;
  font-family: 'Montserrat';
  color: #ffffff;
  margin: 10px 7px 10px 10px;
  width: 50%;
}

.machineButton {
  background: transparent;
  color: white;
  border: #ffffff 1px solid;
  border-radius: 5px;
  margin: 0 3px;
}

button:hover {
  background-color: rgb(51, 102, 204, 0.3);
}

.buttonPanel {
  display: inline-block;
  margin-top: 25%;
}

.rotateImg {
  margin-left:3px;
  margin-top: 8px;
  position: relative;
  height: 14px;
  width: auto;
}

.rotateImgActive {
  -webkit-animation:spin 1s linear infinite;
  -moz-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

.rotateImgHide {
  display: none;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
