footer.copyright {
  min-width: 100%;
  padding: 0.5px;
  background: #000000;
  margin-bottom: 0;
  position: fixed;
  bottom: 0;
  left: 0;
}

footer p {
  font-size: 12px;
  text-align: center;
  color: #ffffff;
  padding-top: 3px;
}
